@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(
        circle,
        #b9f5d8,
        #87dcd1,
        #57c2cd,
        #2fa6c8,
        #2589bd
    );
}

.jumbotron,
#contact {
    background-image: linear-gradient(to top, #79afba, #61cab3, #95dd83);
    box-shadow: 0px 3px 8px -3px #22678f;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}

.navbar-toggler {
    background-color: #f4f4f480; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    text-shadow: 1px 1px 1px #22678f;
    box-shadow: 0px 3px 8px -1px #22678f;
}

.dev-icons,
.social-icons {
    font-size: 3rem;
}

#maPhoto {
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 8px -3px #22678f;
}

.HI {
    font-weight: 700;
    font-family: 'Bangers', cursive;
}

.adobe {
    width: 45px;
    height: 45px;
}

#exp i {
    margin-right: 10px;
}

#subheading {
    margin-top: 12px;
    margin-left: 8px;
}

/* font titres */
#navbarNMenu {
    font-size: large;
}

h1 {
    font-family: 'Bangers', cursive;
    font-weight: 600;
    text-shadow: 2px 2px 2px #22678f;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h3,
h4,
h5,
h6,
nav a,
.btn,
.resume-date,
i,
#contact {
    text-shadow: 1px 1px 1px #22678f;
}

.text_gras,
.text-success {
    font-weight: 600;
}

.BG {
    text-shadow: 2px 2px 2px #22678f;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    padding: 20px 0 20px;
    border: 1px solid #808080;
    box-shadow: inset 0px 3px 8px -1px #22678f;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    background-color: #b9f5d8;
}

/* couleurs icônes fontwesome.com */
.fa-html5 {
    color: #de4b25;
}

.fa-css3-alt {
    color: #006db5;
}

.fa-js {
    color: #f0d91d;
}

.fa-php {
    color: #7478ae;
}

.fa-wordpress {
    color: #0081b7;
}

.fa-bootstrap {
    color: #6d41a3;
}

.fa-atom {
    color: #9ed38e;
}

.fa-git {
    color: #e94f33;
}

/* couleurs icônes réseaux sociaux */
.fa-facebook {
    color: #1877f2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-youtube {
    color: #ff0000;
}

.fa-github {
    color: #24292e;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-discord {
    color: #738adb;
}

/* couleurs icônes centres d'intérêts */
.fa-film {
    color: #434442;
}

.fa-music {
    color: #0d1117;
}

.fa-book-open {
    color: #f2eecb;
}
.fa-gamepad {
    color: #d39952;
}

.fa-camera-retro {
    color: #ffa600;
}

.fa-chess {
    color: #c8e2cc;
}

.fa-dice {
    color: #9d8376;
}

/* couleur trophée */
.fa-trophy,
.fa-hard-hat {
    color: #ffd700;
    font-size: 2em;
}

/* size icône @ */
.fa-at {
    font-size: 1.3em;
}

/* size icônes code, bézier, diplômes */
.fa-laptop-code,
.fa-bezier-curve,
.fa-graduation-cap {
    font-size: 1em;
}

/* bouton scrollTop */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f4f4f480; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    text-shadow: 1px 1px 1px #22678f;
    box-shadow: 0px 3px 8px -1px #22678f;
}

#myBtn:hover {
    background-color: #6b6b6b80; /* Add a dark-grey background on hover */
    box-shadow: inset 0px 3px 8px -1px #22678f;
}

/* DARK MODE CSS */

.dark-mode {
    background-image: radial-gradient(
        circle,
        #101614,
        #23443f,
        #1b494e,
        #0c3d49,
        #03224c
    );
    color: white;
}

#buttonSwitchMode {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px -1px #22678f;
}

#buttonSwitchMode:hover {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: inset 0px 3px 8px -1px #22678f;
}

#buttonSwitchMode {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px;
    left: 20px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    text-shadow: 1px 1px 1px #22678f;
}
